.red {
    color: red;
}

.flowImg{
    height:200px;
    width:300px;
    border:2px solid black;
}

body{
    background-color: #A9C9FF;

}

.jumbotron{
    // height: 100px;
    background: mediumslateblue;
    color:White;
    border-bottom: 2px solid rgb(10, 144, 185);
}

#QUOTE{
    margin: 10px;
    padding:5px;
    color: magenta;
}